.App {
  text-align: justify;
}
.Quiz{
  margin: 4vh 10vh;
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 8px;
  margin: 8px;
  height: 100px;
  display: inline-grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.option{
  margin: 6px;
  text-align: left;
  padding-left: 1px;
}
.Stats{
  margin: 4vh 10vh;
}
.Profile{
  margin: 4vh 10vh;
}
.Fields{
  margin-bottom: 6vh;
}
.Leaderboard{
  align-items: center;
}
.Categories{
  margin: 4vh 10vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
